.modalWInfo {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modalWInfo-content {
    position: fixed;
    bottom: 50%;
    right: 25%;
    background-color: #fefefe;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.modalWInfo-close {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.modalWInfo-close:hover,
.modalWInfo-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalWInfo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 2px 16px;
    background-color: #5d69d6;
    color: white;
}

.modalWInfo-body {
    padding: 16px 16px;
}

.modalWInfo-footer {
    padding: 16px 16px;
    background-color: #5d69d6;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 25%;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 25%;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}